<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>

<style>

body{

    background-color: violet;
}

h1{
    text-align: center;
    font-style: italic;
    fon
}

.one{
    color: red;
}
.two{
    color: brown;
}
.three{
    color: chartreuse;
}

button{
    background-color: black;
    text-transform: capitalize;
    color: aliceblue;
    width: 100px;
    height: 50px;
}

</style>

</head>
<body>
    

<h1>CSS(intro)</h1>
<p  class="one">Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore excepturi qui repudiandae cupiditate quidem id! Veritatis a, ullam quibusdam beatae explicabo quae molestiae, voluptates amet tempore quasi quidem! Quo, hic?</p>
<p class="two" >Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam, totam maiores modi voluptas officiis amet error doloremque deleniti nisi autem esse facere eos assumenda inventore laboriosam. Nam eligendi harum doloribus?</p>
<p class="three" >Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti reiciendis expedita odio nam quaerat doloremque cum, suscipit neque, similique hic ullam necessitatibus aliquid, architecto omnis aut incidunt obcaecati. Qui, dolor.</p>

<button>submit</button>

</body>
</html>