<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>b</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
</head>
<body>
<table border="2"  align="center"  bgcolor="yellow" cellpadding="10" >   
    <thead>
<tr>
    <th>Name</th>
    <th>Password</th>
</tr>


    </thead>
    <tbody>
<tr>
    <td>Amith</td>
    <td>123345</td>
</tr>
<tr>
    <td>Arav</td>
    <td>54321</td>
</tr>

    </tbody>
</table>




    <a href="#"  >login</a>
    <p>Lorem ipsum dolor sit <u>click here</u> consectetur adipisicing elit. Dolore atque exercitationem a odio quibusdam, optio doloribus voluptatem sed eveniet, nam illum enim cumque
         aspernatur adipisci 
         facere. <i>vero natus t</i></p>
</body>
</html>empora!

<ol>
<li>Amyth</li>
  <ul>
      <li>a</li>
      <li>b</li>
  </ul>
<li>Arav</li>
<li>Nihal</li>
<li>Sharuk</li>

</ol>

<iframe width="560" height="315" src="https://www.youtube.com/embed/hoNb6HuNmU0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>