<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
</head>
<body>
    <form>

     <label for="one" >Name</label>
     <input id="one" type="text" name="fname" value="nme"/><br><br>
     <label for="three">Number</label>
     <input id="three" type="number" name="num"    required placeholder="enter the contact" ><br><br>

     <label for="two">Gender</label>
     <input  id="two" type="radio" name="radio" value="Male">Male<input id="two" type="radio" name="radio" value="female">Female <br><br>
 
     <label for="four" >SelectState</label>
     <select name="" id="four" >
      <option value="st1" >  State1</option>
      <option value="st2"  >State1</option>
      <option value="st3" > State1</option>
      <option value="st4"  >State1</option>
      <option  value="st5"  >State1</option>
     </select><br><br>
   
     <label for="five">upload profile</label>
<input id="five" type="file" accept="image/png"  ><br> are you married <input type="checkbox"><br><br>

     <button type="submit" >Submit</button>
     <button type="button" >button</button>
     <button type="reset">reset</button>
    </form>
</body>
</html>