<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
</head>
<body>
    <form>

     <label for="one" >Name</label>
     <input id="one" type="text" name="fname" value="nme"/>
     <label for="three">Number</label>
     <input id="three" type="number" name="num"  value="number"  required placeholder="enter the contact" >

     <label for="two">Gender</label>
     <input  id="two" type="radio" name="radio" value="Male">Male<input type="radio" name="radio" value="female">Female <br>
 
     <label for="three" ></label>



     <button>Submit</button>

    </form>
</body>
</html>