<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
    <style>
 .one{
     color: red;
     background-color: black;
 }

h1{
    background-color: blue;
    text-align: center;
}


    </style>
</head>
<body>
    <h1>HomeCss(intro)</h1>

    <p class="one">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laudantium, mollitia. Et blanditiis fuga magni pariatur explicabo officiis quibusdam nostrum, exercitationem dolore dignissimos eveniet architecto facere. Nam quae nulla velit repellat?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta, minima consectetur? Deserunt in temporibus cum fugiat non voluptatibus labore qui beatae vel debitis reiciendis, eos nisi repellat corporis, nesciunt quasi.</p>



</body>
</html>