<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Registration Table</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
</head>
<body>
    

        <h1 align="center">Registration Form</h1>
        <form>
    <table>
   
    <tr>
         <td><label for="one">Name</label></td>
         <td><input id="one"  type="text" name="fname" value="name"></td>
        
       
    </tr>
    <br>
    
    <tr>
          <td> <label for="two" >Place</label></td>
          <td><input id=two type="text" name="pplace" value="place"></td><br><br>
     
    </tr>

    <tr>
     
           <td><label for="three">Address</label></td>
            <td> <input id="three" type="text" name="addr" value="address"></td><br><br>
    
   </tr>

    <tr> 
       
            <td><label for="four">Gender</label></td>
            <td><input id="four" type="radio" name="radio" value="male">Male<input id="four" type="radio" name="radio" value="female">Female</td><br><br>

    
   </tr>

   <tr>  
      
           <td><label for="five">SelectCourse</label></td>
           <td><select name="" id="five">
            <option value="py">python</option>
            <option value="jv">java</option>
            <option value="php">php</option>
            <option value="andro">Android</option>
               </select></td><br><br>

   
  </tr>


   <tr>
    
        <td><label for="six" >Password</label></td>
         <td>  <input id="six" type="password" name="pass" value="password" ></td>
    

   </tr>
   <tr>
    <td colspan="2"  align="center" ><button type="submit">submit</button>
    <button type="reset">reset</button></td>

   </tr>

</table>
</form>
    

</body>
</html>