<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Registration Table</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
</head>
<body>
    <table>
        <form>
   <tr>
    <td><label for="one">Name</label></td>
    <td>><input id="one"  type="text" name="fname" value="name"></td<br>
        
    
    </tr>
     <tr>
         <td>
        <label for="two" >Place</label>
    <input id=two type="text" name="pplace" value="place"><br>
     </td>
    </tr>
    <tr>
    <td> 
<label for="three">Address</label>
<input id="three" type="text" name="addr" value="address"><br>
    </td>
</tr>
<tr> 
       <td>
<label for="four">Gender</label>
<input id="four" type="radio" name="radio" value="male">Male<input id="four" type="radio" name="radio" value="female">Female<br>

    </td>
</tr>
<tr>  
      <td>
        <label for="five">SelectCourse</label>
        <select name="" id="five">
            <option value="py">python</option>
            <option value="jv">java</option>
            <option value="php">php</option>
            <option value="andro">Android</option>
        </select>
    </td>
   
</tr>
<tr>
    <td>
        <label for="six" >Password</label>
        <input id="six" type="password" name="pass" value="password" >
    </td>

</tr>

</form>


    </table>
</body>
</html>